.counter-app {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 150px;
}

.form-container {
  display: flex;
  justify-content: space-between;
}

.form-item {
  display: flex;
  flex-direction: column;
}

.description {
  padding-left: 15px;
}

.input {
  width: 200px;
  height: 45px;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 10px;
  box-sizing: border-box;
}

.add-button {
  width: 80px;
  height: 45px;
  border: 2px solid black;
  border-radius: 15px;
  margin-top: 30px;
}

.header-list {
  display: flex;
  justify-content: space-between;
  padding: 15px 70px 15px 40px;
}

.distance-item {
  min-height: 45px;
  border: 2px solid black;
  border-radius: 20px;
}

.item-list {
  list-style: none;
  padding: 7px 90px 7px 40px;
}

.item {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  border: none;
  background-color: white;
}